@page "/main/competitions/singlecomp"
@page "/main/competitions/singlecomp/{id:int}"
@inject HttpClient httpClient
@using ESProjeto.Shared.Models
@using ESProjeto.Client.Services.CompetitionServices
@inject NavigationManager NavigationManager
@inject ICompetitionService CompetitionService
@using Blazorise


<Div Class="Row competitionWidget">
	<Div Class="Col">
		<Div Class="Row">
			<Div Class="Col">
				<h3>Comp.Name</h3>
			</Div>
			<Div Class="Col">
				<Span>State: <Badge Color="Color.Success" Pill>Open</Badge></Span>
				<Span>Closes in: 20:00</Span>
			</Div>
		</Div>

		<Div Class="Row categoryWidget">
			<Div Class="Col">
				<Div Class="Row categoryWidgetOptions">
					<h4 class="categoryWidgetTitle">[Category]</h4>
					<button class="btn btn-primary" @onclick="CreateCompetition"> Confirm vote</button>
				</Div>
				<Div Class="Row categoryWidgetRow">
					<Div Class="Col categoryWidgetCol">
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR85LxTxW44OOMXaJJHpHQ6QyN64BbcDIiCOOE-LvEECQJ7eBgy" width="144" height="216" />
						<h4>[MovieName]</h4>
						<Button Class="btn-danger removeButton">Vote</Button>
					</Div>
					<Div Class="Col categoryWidgetCol">
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR85LxTxW44OOMXaJJHpHQ6QyN64BbcDIiCOOE-LvEECQJ7eBgy" width="144" height="216" />
						<h4>[MovieName]</h4>
						<Button Class="btn-danger removeButton">Vote</Button>
					</Div>
					<Div Class="Col categoryWidgetCol">
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR85LxTxW44OOMXaJJHpHQ6QyN64BbcDIiCOOE-LvEECQJ7eBgy" width="144" height="216" />
						<h4>[MovieName]</h4>
						<Button Class="btn-danger removeButton">Vote</Button>
					</Div>
					<Div Class="Col categoryWidgetCol">
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR85LxTxW44OOMXaJJHpHQ6QyN64BbcDIiCOOE-LvEECQJ7eBgy" width="144" height="216" />
						<h4>[MovieName]</h4>
						<Button Class="btn-danger removeButton">Vote</Button>
					</Div>
				</Div>
			</Div>
		</Div>
	</Div>
</Div>
<br />
<Div Class="Row">
	<button class="btn btn-primary" @onclick="CreateCompetition"> Return to competitions</button>
</Div>

@code {
	protected override async Task OnInitializedAsync()
	{
		// Call the GetCompetitions() method
		await CompetitionService.GetCompetitions();

	}

	void ShowCompetition(int id)
	{
		NavigationManager.NavigateTo($"competition/{id}");

	}
	async Task CreateCompetition()
	{
		NavigationManager.NavigateTo("/competition");
		//await CompetitionService.CreateCompetition();
	}
}